<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastro</title>
</head>

<body>
    <div class="login-container">
        <h2>Criar Conta</h2>
        <form action="/registrar" method="POST">
            <input type="text" name="nome" placeholder="Nome Completo" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="text" name="cpf" placeholder="CPF (somente números)" required>
            <input type="text" name="cep" placeholder="CEP" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>

</html>